body{
    padding: 10px;
}

input{
    margin:  5px;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
}
textarea{
    margin: 5px;
    width: 100%;
    padding: 50px 20px;
    box-sizing:border-box;
}
button{
    background-color:white;
    margin-top: 20px;
    margin-right: 10px;
}